.nodered/.flows_Mac-HQ.local.json.backup
[{"id":"a640f5606ddaf776","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"807231fb64b47d4a","type":"tls-config","name":"Default","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"5e83f165e2aca898","type":"inject","z":"a640f5606ddaf776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["aee8a4cb81cf1bc2"]]},{"id":"aee8a4cb81cf1bc2","type":"exec","z":"a640f5606ddaf776","command":"python3 demo.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":180,"wires":[["bba000f67978e2da"],[],[]]},{"id":"bba000f67978e2da","type":"debug","z":"a640f5606ddaf776","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]}]