.nodered/flows_Mac-HQ.local.json
[{"id":"a640f5606ddaf776","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9651bd9ced13a4ff","type":"websocket-listener","path":"/ws/python","wholemsg":"false"},{"id":"5e83f165e2aca898","type":"inject","z":"a640f5606ddaf776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["aee8a4cb81cf1bc2"]]},{"id":"aee8a4cb81cf1bc2","type":"exec","z":"a640f5606ddaf776","command":"python3 demo.py","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":180,"wires":[["bba000f67978e2da"],[],[]]},{"id":"bba000f67978e2da","type":"debug","z":"a640f5606ddaf776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"88020f09bd2604a9","type":"http in","z":"a640f5606ddaf776","name":"","url":"/greet/:name","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["05c5bd875622ee05"]]},{"id":"05c5bd875622ee05","type":"function","z":"a640f5606ddaf776","name":"","func":"msg.payload = `Hello ${msg.req.params.name}!`;\nmsg2 = { payload: {message: msg.payload}};\nreturn [msg2, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":400,"wires":[["91da0399149c18e5"],["8092092ecbb47a8c"]]},{"id":"8092092ecbb47a8c","type":"http response","z":"a640f5606ddaf776","name":"","statusCode":"","headers":{},"x":710,"y":400,"wires":[]},{"id":"91da0399149c18e5","type":"websocket out","z":"a640f5606ddaf776","name":"Python WS output","server":"9651bd9ced13a4ff","client":"","x":670,"y":260,"wires":[]},{"id":"a4111ec9a7c1f1b7","type":"watch","z":"a640f5606ddaf776","name":"","files":"log.txt","recursive":"","x":110,"y":260,"wires":[["8ff30bfc3c5154aa"]]},{"id":"8ff30bfc3c5154aa","type":"file in","z":"a640f5606ddaf776","name":"","filename":"log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":290,"y":260,"wires":[["91da0399149c18e5"]]}]